# Auto detect text files and perform LF normalization
* text=auto
model.fbx filter=lfs diff=lfs merge=lfs -text
model@Falling[[:space:]]Back[[:space:]]Death.fbx filter=lfs diff=lfs merge=lfs -text
model@idle.fbx filter=lfs diff=lfs merge=lfs -text
model@Reload.fbx filter=lfs diff=lfs merge=lfs -text
model@Run[[:space:]]Forward.fbx filter=lfs diff=lfs merge=lfs -text
model@Shoot.fbx filter=lfs diff=lfs merge=lfs -text
model@Walking.fbx filter=lfs diff=lfs merge=lfs -text
